*{
    margin: 0%;
    background: #1c2526;
}
body{}
.website{
    max-width: 1280px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

@media (max-width: 768px) {

    body{
        justify-content: center;
        align-items: center;
    }
}